
@using CapaNegocio;
@model IEnumerable<CapaEntidades.Usuario>


@{
    ViewBag.Title = "VerUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<form action="" class="form-register2">
    <h3 style="color: green;">Ver Usuarios</h3>
    <table class="table" id="tableDemo">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Id del empleado")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idempleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Editar", "Usuario", new { id = item.Idempleado })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        |
                        <a class="btn btn-danger btn-xs" onclick="EliminarUsuario(@item.Idempleado)" title="Eliminar">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>



    </table>
    <div>
        @Html.ActionLink("Volver", "menu")
    </div>
</form>

@section scripts{

    <script>$('#tableDemo').DataTable();</script>     

    <script>
        function LoadingOverlayShow(id) {
            $(id).LoadingOverlay("show", {
                color: "rgba(255, 255, 255, 0.5)",
                image: "/Content/loading.gif",
                imageResizeFactor: 0.6,
                //imageAnimation: "1.5s fadein",
            });
        }
        function LoadingOverlayHide(id) {
            $(id).LoadingOverlay("hide");
        }
        function EliminarUsuario(id) {
            $.confirm({
                title: 'Eliminar Empleado!',

                content: '¿Seguro de eliminar este usuario?',
                buttons: {
                    Confirmar: function () {
                        LoadingOverlayShow("#tableDemo");
                        $.ajax({
                            url: "/Usuario/Eliminar",
                            type: "post",
                            data: { idd: id }
                        }).done(function (response) {
                            location.reload();
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus);
                            location.reload();
                        });
                        
                    },
                    Cancelar: function () {

                    },
                }
            });

        }

   
    </script>
}
